html, body {
    min-height: 100%;
    padding: 0;
    margin: auto;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    max-width: 1000px;
    align-items: center;
    background: #1c87c9;
}
h1 {
    margin: 0 0 20px;
    font-weight: 400;
    color: #1c87c9;
}
p {
    margin: 0 0 5px;
}
.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.form-ticket {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: white;
}
input, textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
}
input::placeholder {
    color: #666;
    font-weight: bolder;
    font-size: 20;
}
button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #1c87c9;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
button:hover {
    background: #2371a0;
}
@media (min-width: 870px) {
    .main-block {
        flex-direction: row;
    }
    .left-part, .form-ticket {
        width: 50%;
    }
}